<% layout('layout/page.ejs') %>
<h1><%= title %> </h1>
<img src="<%= pictureh1 %>" width="400" height="300"  style="margin-left: 300px;" />
<img src="<%= pictureh2 %>" width="400" height="300"  />
<img src="<%= pictureh3 %>" width="400" height="300"  />
<img src="<%= pictureh4 %>" width="400" height="300"  style="margin-left: 500px;" />
<img src="<%= pictureh5 %>" width="400" height="300"  />
<style>
body {
background-color: #000000;/* Цвет фона и путь к файлу */
color:#FFFFFF
}
</style>
